includes:
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max

    treatPhpDocTypesAsCertain: false

    strictRules:
    	dynamicCallOnStaticMethod: false

    parallel:
        maximumNumberOfProcesses: 6

    tmpDir: storage/tmp/phpstan

    paths:
        - src
        - tests
        - workbench
